<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/main_style.css">
    <title>Title</title>
</head>
<body>
<header>
    <div class="logo">
        <img src="">
    </div>
    <div class="menu">
        <li><a href="/api/v1/thongke/getthongke">Thống Kê</a></li>
        <li><a href="/api/v1/category/getadminsp">Quản lý sản phẩm</a></li>
        <li><a href="/api/v1/bill/getadminbill">Quản lý Bill</a></li>
    </div>
    <div class="khac">
        <li> <a class="fas fa-sign-out-alt" href = "/api/v1/user/login1" ></a></li>
    </div>
</header>
<section class="qlnd">
    <div class="chitietcart">
        <div class="thongtincart row">
            <div class="qlndall">
                <table>
                    <tr>
                        <th>Hình ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th>Size</th>
                        <th>Số lượng</th>
                        <th>Giá tiền</th>
                        <th>Chi tiết</th>
                        <th>Kiểu</th>
                        <th>Xóa</th>
                        <th>Sửa</th>
                    </tr>
                    <tr th:each = "categoryall1: ${categoryall}">
                        <td><img th:src="*{'/hinhanh/'+categoryall1.image}"></td>
                        <td><p th:text="${categoryall1.name}"></p></td>
                        <td><p th:text="${categoryall1.size}"></p></td>
                        <td><p th:text="${categoryall1.number}"></p></td>
                        <td><p th:text="${categoryall1.price}"></p></td>
                        <td><p th:text="${categoryall1.details}"></p></td>
                        <td><p th:text="${categoryall1.type}"></p></td>
                        <td><a th:href="${'/api/v1/category/delete/' + categoryall1.id}">X</a></td>
                        <td><a th:href="${'/api/v1/category/getedit/' + categoryall1.id}">Edit</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="add">
            <li><a href="/api/v1/category/getadd">Thêm</a></li>
        </div>
    </div>
</section>
</body>
</html>