<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/main_style.css">
    <title>Title</title>
</head>
<body>
<header>
    <div class="logo">
        <img src="">
    </div>
    <div class="menu">
        <li><a href="">Home</a></li>
        <li><a href="">Sản phẩm</a>
            <ul class="sub-menu">
                <li><a href="">Áo câu lạc bộ</a></li>
                <li><a href="">Áo đội tuyển quốc gia</a></li>
            </ul>
        </li>
        <li><a href="">Thông tin</a></li>
    </div>
    <div class="khac">
        <li><input placeholder="Tìm kiếm" type="text"><i class="fas fa-search"></i> </li>
        <li> <a class="fa fa-paw" href="" ></a></li>
        <li> <a class="fa fa-user" href="" ></a></li>
        <li> <a class="fa fa-shopping-bag" href="" ></a></li>
    </div>
</header>
<section class="cart">
    <div class="chitietcart row">
        <div class="thongtincart row">
            <div class="cartall">
                <table>
                    <tr>
                        <th>Hình ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th>Size</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th>Xóa</th>
                    </tr>
                    <tr th:each="cartall: ${detailscartall}">
                        <td><img th:src="*{'/hinhanh/'+cartall.image}"></td>
                        <td><p th:text="${cartall.name}"></p></td>
                        <td><p th:text="${cartall.size}"></p></td>
                        <td><p><input type="number" th:value="${cartall.number}" ></p></td>
                        <td><p th:text="${cartall.totalprice}"}>đ</p></td>
                        <td><p>X</p></td>
                    </tr>
                </table>
            </div>
            <div class="tongtinh">
                <table>
                    <tr>
                        <th colspan="2"> HÓA ĐƠN HÀNG HÓA :</th>
                    </tr>
                    <tr>
                        <td>Tổng sản phẩm:</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Tổng tiền sản phẩm :</td>
                        <td><p>500000đ</p></td>
                    </tr>
                    <tr>
                        <td>Số tiền cần thanh toán</td>
                        <td><p style="color: black;font-weight: bold">500000đ</p></td>
                    </tr>
                </table>
                <div class="nutthanhtoan row">
                    <button>Quay lại mua sắm</button>
                    <button>Thanh Toán</button>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>