<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/main_style.css">
    <title>Title</title>
</head>
<body>
<header>
    <div class="logo">
        <img src="">
    </div>
    <div class="menu">
        <li><a href="">Home</a></li>
        <li><a href="">Sản phẩm</a>
            <ul class="sub-menu">
                <li><a href="">Áo câu lạc bộ</a></li>
                <li><a href="">Áo đội tuyển quốc gia</a></li>
            </ul>
        </li>
        <li><a href="">Thông tin</a></li>
    </div>
    <div class="khac">
        <li><input placeholder="Tìm kiếm" type="text"><i class="fas fa-search"></i> </li>
        <li> <a class="fa fa-paw" href="" ></a></li>
        <li> <a class="fa fa-user" href="" ></a></li>
        <li> <a class="fa fa-shopping-bag" href="" ></a></li>
    </div>
</header>
<section class="chitietsp">
    <div class="thongtin">
        <div class="anhvachon row">
            <div class="anh row">
                <div class="anhto">
                    <img src="../static/hinhanh/images%20(2).jfif" alt="">
                </div>
                <div class="anhbe">
                    <img src="/hinhanh/mua-ao-bong-da-tai-long-bien.jpg" alt="">
                    <img src="/hinhanh/mua-ao-bong-da-tai-long-bien.jpg" alt="">
                    <img src="/hinhanh/mua-ao-bong-da-tai-long-bien.jpg" alt="">
                </div>
            </div>
            <div class="chonchitietao">
                <div class="name">
                    <h1>ÁO ĐỘI TUYỂN QUỐC GIA PHÁP</h1>
                </div>
                <div class="gia">
                    <p>600.000đ</p>
                </div>
                <div class="size">
                    <p style="font-weight: bold;">Size</p>
                    <div class="fullsize">
                        <span>S</span>
                        <span>M</span>
                        <span>L</span>
                        <span>XL</span>
                    </div>
                </div>
                <div class="soluong">
                    <p style="font-weight: bold;">Số lượng:</p>
                    <input type="number" min="0" value="1">
                </div>
                <div class="nut">
                    <button><i class="fas fa-shopping-cart"></i><p>MUA HÀNG</p></button>
                </div>
                <div class="thongtinsp">
                    <div class="dong">
                        &#8744;
                    </div>
                    <div class="chitietthongtinsp">
                        <div class="chitiettitle">
                            <p>Chi tiết :</p>
                        </div>
                        <div class="chitietext">
                            ÁO quan dep dep<br><br>
                            ÁO chat lieu tot<br><br>
                            áo co dãn tốt
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
</body>
</html>