<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/main_style.css">
    <title>Title</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="../../java/com/example/totnghiep/giaodien/images.png">
        </div>
        <div class="menu">
            <li><a href="">Home</a></li>
            <li><a href="">Sản phẩm</a>
                <ul class="sub-menu">
                    <li><a href="/api/v1/category/get">Áo câu lạc bộ</a></li>
                    <li><a href="">Áo đội tuyển quốc gia</a></li>
                </ul>
            </li>
            <li><a href="">Thông tin</a></li>
        </div>
        <div class="khac">
            <li><input placeholder="Tìm kiếm" type="text"><i class="fas fa-search"></i> </li>
            <li> <a class="fa fa-paw" href="" ></a></li>
            <li> <a class="fa fa-user" href = "/api/v1/user/login1" ></a></li>
            <li> <a class="fa fa-shopping-bag" href="" ></a></li>
        </div>
    </header>
    <section id="Slider">
        <div class="aspect-ratio-169">
            <img src="/hinhanh/a_b.jpg">
            <img src="/hinhanh/shop-ban-quan-ao-bong-da-tai-Lao-Cai-dep.jpg">
            <img src="/hinhanh/mua-ao-bong-da-tai-long-bien.jpg">
        </div>
        <div class="dot-container">
            <div class="dot chon"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </section>
</body>
<script>
    const  imgall=document.querySelectorAll(".aspect-ratio-169 img")
    const  img1=document.querySelector(".aspect-ratio-169")
    const cham=document.querySelectorAll(".dot")

    let tongimg=imgall.length
    let a=0
    imgall.forEach(function (img,a){
        img.style.left=a*100+"%"
        cham[a].addEventListener("click",function (){
            img1.style.left="-"+ a*100+"%"
            const cham1=document.querySelector('.chon')
            cham1.classList.remove("chon")
            cham[a].classList.add("chon")
        })
    })
    function cd(){
        a++;
        if(a>=tongimg) a=0
        img1.style.left="-"+ a*100+"%"
        const cham1=document.querySelector('.chon')
        cham1.classList.remove("chon")
        cham[a].classList.add("chon")
    }
    setInterval(cd,4000)
</script>
</html>