*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,Helvetica,sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: rgba(255,255,255,0.3);
}
header:hover{
    background: rgba(255, 255, 255, 0.93);
}
.logo{
    flex: 1;
}
.menu{
    flex: 3;
    display: flex;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.menu >li{
    padding: 0 12px;
    position: relative;
}
.menu>li:hover .sub-menu{
    display: block;
    background: #cccccc;
}
.menu >li a{
    font-size: 18px;
    line-height: 25px;
}
.sub-menu{
    position: absolute;
    width: 180px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    display: none;
}
.khac{
    flex: 1;
    display: flex;
}
.khac>li{
    padding: 0 12px;
}
.khac>li:first-child {
    position: relative;

}
.khac>li:first-child input{

    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}
.khac>li:first-child i{
    position: absolute;
    right: 10px;
}
#Slider{
    padding-bottom: 30px;
    border-bottom: 2px solid #333333;
    overflow: hidden;
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
}

.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.dot{
    height: 16px;
    width: 16px;
    background-color: #cccccc;
    border-radius: 50%;
    margin-right: 12px;
}
.dot.chon{
    background-color: black;
}
.category{
    padding: 100px 0 0;
}
.top{
margin-bottom: 50px;
}
.top p{
    font-family: Arial,Helvetica,sans-serif;
    margin: 0 12px;
    font-size: 12px;
}
.loc{
    width: 100%;
}
.danhsachao:first-child{
    flex: 2;
    font-size: 16px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
}
.danhsachao{
    flex: 1;
    padding: 0 16px;
}
.danhsachao button{
    width: 70%;
    padding: 5px 3px;
    display: flex;
    justify-content: space-between;
    background: #ffff;
    border: 1px solid #cccccc;
    cursor: pointer;
}
.danhsachao select{
    width: 70%;
    padding: 5px 3px;
    display: flex;
    justify-content: space-between;
    background: #ffff;
    border: 1px solid #cccccc;
    cursor: pointer;
}
.hienthidanhsach{
    margin-top: 20px;
    justify-content: space-between;
}
.item{
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px;
}
.item h1{
    font-size: 10px;
    font-family: Arial,Helvetica,sans-serif;
    margin-top: 6px;
}
.item img{
    width: 100%;
}
.phantrang{
    justify-content: space-between;
    margin: 10px 0 10px;
    width: 98%;
}
.chitietsp{
    padding: 100px 0;
}
.anh{
    width: 50%;
}
.chon{
    width: 50%;
}
.anhto{
    width: 78%;
    padding: 0 8px;
}
.anhto img{
    width: 100%;
}
.anhbe{
    width: 20%;
}
.anhbe img{
    width: 100%;
}
.name h1{
    font-size: 20px;
    font-family: Arial,Helvetica,sans-serif;
}
.gia p{
    margin: 12px 0;
    font-size: 16px;
    font-family: Arial,Helvetica,sans-serif;
}
.size span{
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #cccccc;
    margin: 13px 11px 13px 0;
    cursor: pointer;
}
.soluong{
    display: flex;
    margin-bottom: 20px;
}
.soluong input{
    width: 70px;
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
}
.nut button{
    width: 100px;
    height: 50px;
    display: block;
}
.thongtinsp{
    padding-top: 9px;
    border: 1px solid rgba(35, 32, 32, 0.17);
    position: relative;
}
.dong{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(35, 32, 32, 0.17);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    top: -15px;
    left: 50%;
}
.chitiettitle{
    border-bottom: 1px solid rgba(35, 32, 32, 0.17);
}
.chitietext{
    padding-top: 10px;
    font-size: 15px;
    font-family: Arial,Helvetica,sans-serif;
}
.cart{
    padding: 100px 10px;
}
.cartall{
    flex: 3;
    padding-right: 20px;
}
.cartall table{
    width: 100%;
    text-align: center;
}
.cartall table th{
    padding: 10px;
    font-size: 17px;
    font-family: Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    color: rgba(35, 32, 32, 0.7);
    border-collapse: collapse;
    border-bottom: 3px solid rgba(35, 32, 32, 0.17);
}
.cartall table p{
    font-size: 15px;
    font-family: Arial,Helvetica,sans-serif;
    color: rgb(35, 32, 32);
}
.cartall table input{
    width: 50px;
}
.cartall table span{
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(35, 32, 32, 0.17);
    cursor: pointer;
}
.cartall table img{
    width: 200px;
}
.cartall table td{
    padding: 20px 0;
    border-bottom: 2px solid rgba(35, 32, 32, 0.17);;
}
.tongtinh{
    flex: 1;
    padding-left: 90px;
    padding-top: 50px;
    border-left: 2px solid rgba(35, 32, 32, 0.17);
}
.tongtinh table{
    width: 100%;
}
.tongtinh table th{
    padding: 10px;
    font-size: 17px;
    font-family: Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    color: rgba(35, 32, 32, 0.7);
    border-collapse: collapse;
    border-bottom: 3px solid rgba(35, 32, 32, 0.17);
}
.tongtinh table td{
    padding: 10px;
    font-size: 15px;
    font-family: Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    color: rgb(35, 32, 32);
    border-collapse: collapse;
    border-bottom: 3px solid rgba(35, 32, 32, 0.17);
}
.nutthanhtoan{
    text-align: center;
    align-items: center;
}
.nutthanhtoan button{
    padding: 0 10px;
    height: 30px;
    cursor: pointer;
}
.nutthanhtoan button:first-child{
    background-color: rgba(255, 255, 255, 0.48);
    border: 3px solid rgba(35, 32, 32, 0.17);
    margin-right: 20px;
}